data_prep/raw_corpora/ETS_Corpus_of_Non-Native_Written_English
data_prep/raw_corpora/cita-corrected
data_prep/raw_corpora/ErrorDetection_Skala_errorList
data_prep/processed_corpora/cita_spelling.xml
spelling/src/main/resources/tempGraphemes.txt
spelling/src/main/resources/results
spelling/src/main/resources/target
spelling/target
spelling/src/main/resources/data/toefl_spelling.xml
spelling/src/main/resources/data/cita_spelling.xml
spelling/src/main/resources/data/skala_spelling.xml
spelling/src/main/resources/data/toefl_misspelling_phonemes.xml
spelling/src/main/resources/data/cita_misspelling_phonemes.xml
spelling/src/main/resources/data/skala_misspelling_phonemes.xml
cita_spelling.xml
skala_spelling.xml
toefl_spelling.xml
skala_misspellingPhonemes.tsv
toefl_misspellingPhonemes.tsv
cita_misspellingPhonemes.tsv
childLex_0.17.01.tsv
subtlex_it.tsv
hunspell_dict_it_phoneme_map.txt
hunspell_dict_it.txt
hunspell_dict_de_phoneme_map_test.txt
hunspell_dict_de_phoneme_map.txt
hunspell_dict_de.txt
hunspell_dict_cz_phoneme_map.txt
hunspell_dict_cz.txt
Italian.dic
German_de_DE.dic
Cita_all_sentences_withOffset.tsv
Cita_all_sentences_withOffset_languagetool.tsv
Skala_all_sentences_withOffset.tsv
Skala_all_sentences_withOffset_languagetool.tsv
TOEFL_all_sentences_withOffset.tsv
TOEFL_all_sentences_withOffset_languagetool.tsv
stats_Cita_all_sentences_withOffset_languagetool.txt
stats_Skala_all_sentences_withOffset_languagetool.txt
stats_TOEFL_all_sentences_withOffset_languagetool.txt
cita_sentences.tsv
cita_sentences_languagetool_detect.tsv
stats_cita_sentences_languagetool_detect.txt
stats_toefl_sentences_languagetool_detect.txt
toefl_sentences.tsv
toefl_sentences_languagetool_detect.tsv
skala_sentences.tsv
SkaLa_sentences_languagetool_detect.tsv
stats_SkaLa_sentences_languagetool_detect.txt
TOEFL_sentences_LT_correction.tsv
SkaLa_sentences_LT_correction.tsv
CItA_sentences_LT_correction.tsv
stats_TOEFL_sentences_LT_detection.txt
stats_TOEFL_sentences_LT_correction.txt
stats_SkaLa_sentences_LT_detection.txt
stats_SkaLa_sentences_LT_correction.txt
SkaLa_sentences_LT_detection.tsv
TOEFL_sentences_LT_detection.tsv
python_languageTool/LanguageTool_Sentences_orig
