data_prep/raw_corpora/ETS_Corpus_of_Non-Native_Written_English
data_prep/raw_corpora/cita-corrected
data_prep/raw_corpora/ErrorDetection_Skala_errorList
de.unidue.ltl.spelling/src/main/resources/tempGraphemes.txt
de.unidue.ltl.spelling/src/main/resources/results
Results/